PORT=52080
APP_SECRET=change-this-before-production
SYNC_INTERVAL_MS=5000
INITIAL_SYNC_LIMIT=30
SESSION_TTL_DAYS=7

ADMIN_NAME=admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@mail-union.local
ADMIN_PASSWORD=admin

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
